 {% extends 'main\layout.html' %}

 {% block title %}
    Контакти
 {% endblock %}

 {% block content %}
  <div class="contact-card">
    <h2>Контакти</h2>
    <ul>
        <li>
            <a href="https://www.instagram.com/kartina_3d_iz_dereva?igsh=dzgwbGE0OXNiZmVn" target="_blank">
                <i class="fab fa-instagram"></i> Instagram
            </a>
        </li>
        <li>
            <a href="https://t.me/Vllad3D" target="_blank">
                <i class="fab fa-telegram"></i> Telegram
            </a>
        </li>
        <li>
            <i class="fas fa-phone-alt"></i> +380 96 972 1510
            <i class="fas fa-phone-alt"></i> +380 50 585 5770
        </li>
    </ul>
</div>


 {% endblock %}