 {% extends "main\layout.html" %}

 {% block title %}Головна сторінка{% endblock %}

 {% block content %}
    <div class="features">
        <h1>Головна сторінка</h1>
         <div class="alert-warning" style="margin-bottom: 20px; padding: 15px; border-radius: 8px;">
        <p> ✨ Чому обирають нас:<br>
🌳 Натуральне дерево та екологічні матеріали <br> 🎨 Авторські дизайни та можливість індивідуального замовлення <br>🧩 Висока точність 3D-різання та ідеальна обробка<br> 🏡 Підходять для інтер'єру будинку, офісу, кафе, студії <br>🎁 Чудовий подарунок на будь-який випадок</p>
             </div>
         <a href="{% url 'about' %}" class="btn" >Перейти до каталогу</a>



    </div>
 {% endblock %}